    <body class="bg-[#282A36] text-[#ffffff]">
        <section>
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h1 class="mb-4 text-[2rem] tracking-tight font-extrabold text-primary-600 dark:text-primary-500">400 | Bad Request</h1>
                    <p class="mb-4 text-lg font-medium text-gray-400">The server cannot or will not process the request due to something that is perceived to be a client error.</p>
                </div>   
            </div>
        </section>
    </body>