<body class="bg-[#282A36] text-[#ffffff]">
    <section>
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
                <h1 class="mb-4 text-[2rem] tracking-tight font-extrabold text-primary-600 dark:text-primary-500">404 | Not Found</h1>
                <p class="mb-4 text-lg font-medium text-gray-400">The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.</p>
            </div>   
        </div>
    </section>
</body>