<script>
    let link = "https://www.zillowe.rf.gd/zillowey";
    let linkTime = "3"
</script>

        <meta http-equiv="refresh" content="{linkTime};url={link}" />
    <body class="bg-[#282A36] text-[#ffffff]">
        <section>
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h1 class="mb-4 text-[2rem] tracking-tight font-extrabold text-primary-600 dark:text-primary-500">Zillowe Short Links Service</h1>
                    <p class="mb-4 text-lg font-medium text-gray-400">You're going to this url</p>
                    <a href="{link}" class="hover:underline mb-4 text-lg font-semibold text-gray-400"><code>{link}</code></a>
                </div>   
            </div>
        </section>
      </body>