<body class="bg-[#282A36] text-[#ffffff]">
    <section>
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
                <h1 class="mb-4 text-[2rem] tracking-tight font-extrabold text-primary-600 dark:text-primary-500">Zillowe Bio Service <br /> ZilloweZ</h1>
                <div class="avatar">
                    <div class="w-24 rounded-full">
                        <img src="/img/logos/personal/ZilloweZ.jpg" />
                    </div>
                </div>
                <p class="mb-4 text-lg font-medium text-gray-400">Full-Stack Developer & Programmer <br /> The founder and the CEO of Zillowe Foundation.</p>
            </div>
        </div>
        <div class="inline-flex items-center justify-center w-full">
            <ul class="menu bg-base-200 w-56 rounded-box">
                <li>
                    <a href="https://www.zillowez.rf.gd">
                        <img class="w-5" src="/img/random/home.svg" />
                        Website
                    </a>
                </li>
                <li>
                    <a href="mailto:talk@zillowez.rf.gd">
                        <img class="h-5 w-5" src="/img/random/email.svg" />
                        Email
                    </a>
                </li>
                <li>
                    <a href="https://codeberg.org/ZilloweZ">
                        <img class="h-5 w-5" src="/img/brands/codeberg.png" />
                        Codeberg <div class="badge badge-success font-semibold">Main</div>
                    </a>
                </li>
                <li>
                    <a href="https://x.com/ZilloweZ">
                        <img class="h-5 w-5" src="/img/brands/x.svg" />
                        X (Twitter)
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/zillowez">
                        <img class="h-5 w-5" src="/img/brands/instagram.svg" />
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="https://youtube.com/@ZilloweZ">
                        <img class="h-5 w-5" src="/img/brands/youtube.svg" />
                        YouTube
                    </a>
                </li>
                <li>
                    <a href="https://mastodon.social/users/ZilloweZ">
                        <img class="h-5 w-5" src="/img/brands/mastodon.svg" />
                        Mastodon
                    </a>
                </li>
                <li>
                    <a href="https://matrix.to/#/@ZilloweZ:matrix.org">
                        <img class="h-5 w-5" src="/img/brands/matrix.png" />
                        Matrix
                    </a>
                </li>
                <li>
                    <a href="aspe:keyoxide.org:4U5DCTEEOKUNVBTORY2QV2KCOA">
                        <img class="h-5 w-5" src="/img/brands/keoxide.png" />
                        Keyoxide.org
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <br />
    <br />
    <br />
</body>
